.competitions {
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 16px 28px;
    background-color: #f5f5f5;
    border: 1px solid #f00;
    border-radius: 39px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__name {
    font-size: 24px;
    color: #282828;
    font-weight: normal;
  }

  &__state {
    display: flex;
    gap: 32px;
  }

  &__status {
    display: flex;
    gap: 8px;
  }

  &__btn {
    border: 1px solid #f00;
    padding: 12px 25px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    color: #000;
    background-color: transparent;

    &--load-more {
      margin-top: 32px;
    }
  }
}

.profile-comeptition {
  &__status {
    &--approved {
      color: rgb(26, 214, 56);
    }

    &--not-approved {
      color: rgb(0, 133, 255);
    }

    &--dropped {
      color: red;
    }
  }
}