.competition-players {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;

  &__table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    thead {
      background-color: #f5f5f5;
    }

    th,
    td {
      padding: 12px 15px;
      border: 1px solid #ddd;
      text-align: left;

      &:not(:last-child) {
        border-right: none;
      }
    }

    th {
      background-color: #c44343;
      color: #ffffff;
      font-weight: bold;
    }

    tr {
      &:nth-child(even) {
        background-color: #f2f2f2;
      }

      &:hover {
        background-color: #ddd;
      }
    }

    tbody {
      tr {
        transition: background-color 0.3s ease;
      }
    }
  }

  &__name {
    color: #000;

    &:hover {
      color: #c44343;
    }
  }

  &__game-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  &--table {
    display: flex;
    flex-direction: column;
    gap: 32px;
    td {
      position: relative;
      text-align: center;
    }

    tr {
      &:hover {
        .competition-players__score--right-team,
        .competition-players__score--left-team {
          opacity: 0.8;
        }
      }
    }
  }

  &__score--game {
    display: flex;
    gap: 4px;
  }

  &__score--match-left,
  &__score--match-right {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  }

  &__score--match-left {
    background-color: #ef9a9a;
  }

  &__score--match-right {
    background-color: #2196f3;
  }

  &__score--right-team,
  &__score--left-team,
  &__score--loading{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 12px 15px;
    transition: opacity 0.3s ease;
  }

  &__score--right-team {
    background-color: #2196f3;
  }

  &__score--left-team {
    background-color: #ef9a9a;
  }

  // Skeleton animation for the loading state
  // &__score--loading {
  //   content: "- : -"; // Placeholder content
  //   display: inline-block;
  //   background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  //   background-size: 200% 100%;
  //   animation: loadingSkeleton 1.5s infinite linear;

  //   // Adjust the width and height as per your design requirements
  //   width: 3em; // Example width, adjust as needed
  //   height: 1em; // Example height, adjust as needed
  //   border-radius: 4px; // Optional: for rounded corners
  // }

  &__score--loading {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loadingSkeleton 1.5s infinite linear;
    border-radius: 8px; 
    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 70%; // Example width, adjust as needed
      height: 1em; // Example height for a line of text
      background: #e0e0e0;
      border-radius: 4px; // Rounded corners for the placeholder lines
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      // Repeat or adjust ::before for additional lines or elements
    }
  }

  @keyframes loadingSkeleton {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
}
