@import "../../styles/variables.scss";

.header {
  background-color: $main-color;
  padding: 15px;
  padding-right: 30px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 44px;
    color: white;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
    text-decoration: none;
  }

  &__title {
    font-size: 42px;
    font-weight: 400;
    line-height: 22px;
  }

  &__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 580px;
  }

  &__tournaments,
  &__ratings,
  &__notifications,
  &__language {
    position: relative;
    &:hover {
      .header__popup {
        display: flex;
      }
    }
  }

  &__notifications {
    &:hover {
      .header__popup {
        top: 120%;
      }
    }
  }

  &__link {
    font-size: 20px;
    font-weight: 400;
    line-height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    &--popup {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -14px;
        transform: translateY(-30%);
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 8px solid rgba(255, 255, 255, 0.85);
      }
    }
  }

  &__popup {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    flex-direction: column;
    border-radius: 5px;
    background: rgb(241, 241, 241);
    text-align: center;
    width: max-content;
    max-width: 333px;

    &::before {
      content: "";
      position: absolute;
      top: -9px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 9px solid rgba(255, 255, 255, 0.85);
    }

    li {
      padding: 0 7px;
      border-bottom: 1px solid rgb(159, 159, 159);
      color: black;

      &:last-child {
        border: none;
      }

      a {
        color: black;
      }
    }
  }

  &__users {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 260px;
  }

  &__language--active {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -14px;
      transform: translateY(-30%);
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid rgba(255, 255, 255, 0.85);
    }
  }

  &-notifications {
    &__icon {
      display: block;
      width: 27px;
      height: 35px;
      background: url(/assets/icons/notifications.svg) no-repeat center;
    }

    &__content {
      display: none;
    }

    &__item {
      padding-left: 43px;
      text-align: left;

      &--payment {
        background: url("/assets/icons/payment.svg") no-repeat left center;
        background-size: 32px 32px;
      }

      &--docs {
        background: url("/assets/icons/docs-black.svg") no-repeat left center;
        background-size: 32px 32px;
      }

      &--tournaments {
        background: url("/assets/icons/tournaments.svg") no-repeat left center;
        background-size: 32px 32px;
      }
    }
  }

  &__profile {
    position: relative;
    &:hover {
      .header-profile__content {
        display: flex;
      }
    }
  }

  &-profile {
    &__button {
      padding: 11px 15px;
      padding-right: 45px;
      border-radius: 20px;
      background: rgb(217, 217, 217);
      background-repeat: no-repeat;
      background-position: right 14px center;
      font-size: 20px;
      font-weight: 400;
      line-height: 22px;
      color: black;
      text-decoration: none;
      cursor: pointer;

      &--profile {
        background-image: url("/assets/icons/User.svg");
      }

      &--auth {
        background-image: url("/assets/icons/signin.svg");
      }
    }
    &__content {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: max-content;
      max-width: 310px;
      display: none;
      flex-direction: column;
      gap: 8px;
      padding: 8px;
      border-radius: 5px;
      background: rgb(241, 241, 241);
      color: black;

      &::before {
        content: "";
        position: absolute;
        top: -9px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 9px solid rgba(255, 255, 255, 0.85);
      }
    }

    &__main {
      position: relative;
      display: flex;
      align-items: center;
      gap: 6px;
      padding: 7px;
      padding-right: 35px;
      border-radius: 5px;
      background: rgb(210, 210, 210);
      &::after {
        position: absolute;
        top: 50%;
        right: 10px;
        font-size: 25px;
        transform: translateY(-50%);
        color: black;
        content: ">";
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    &__name {
      font-size: 20px;
      font-weight: 500;
      line-height: 23px;
      color: black;
    }

    &__subname {
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
    }

    &__personal-info {
      padding-left: 29px;
      color: rgb(54, 147, 255);
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      background: url("/assets/icons/docs.svg") no-repeat left center;
      background-size: 20px 23px;
    }

    &__signout {
      color: rgb(255, 100, 100);
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      padding-left: 34px;
      background: url("/assets/icons/signout.svg") no-repeat left center;
      background-size: 23px 26px;
      cursor: pointer;
    }
  }

  &-language {
    &__content {
      display: none;
    }
  }
}
